<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Users" subheader="List of all users">
        <div class="grid">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-start">
                        <button type="button" class="btn btn-success" routerLink="form">
                            <i class="pi pi-plus  me-1 f-size-12"></i><span>New</span>
                        </button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-table [value]="users" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                            <th>Email</th>
                            <th>Is Admin</th>
                            <th>Country</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user let-columns="columns">
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <span *ngIf="user.isAdmin" class="badge text-bg-success rounded-pill">
                                    <i class="pi pi-check"></i>
                                </span>

                                <span *ngIf="!user.isAdmin" class="badge text-bg-danger rounded-pill">
                                    <i class="pi pi-times"></i>
                                </span>
                            </td>
                            <td>{{ user.country }}</td>
                            <td>
                                <button type="button" class="btn btn-danger me-2"
                                    [disabled]="isLoading && deletingUserId === user.id" (click)="deleteUser(user.id)">
                                    <i *ngIf="!(isLoading && deletingUserId === user.id)"
                                        class="pi pi-trash f-size-12"></i>
                                    <div *ngIf="isLoading && deletingUserId === user.id"
                                        class="spinner-border spinner-border-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </button>
                                <button type="button" class="btn btn-success"
                                    [disabled]="isLoading && updateUserId === user.id" (click)="updateUser(user.id)">
                                    <i *ngIf="!(isLoading && updateUserId === user.id)"
                                        class="pi pi-pencil f-size-12"></i>
                                    <div *ngIf="isLoading && updateUserId === user.id"
                                        class="spinner-border spinner-border-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>