// General CSS
body,
.p-component {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

ul {
    @include reset-list;
}

.f-size-12 {
    font-size: 12px;
}
